<h1> Category Form </h1>
<form method = "POST" action = "/"> 
  <label for = "category_name"> Enter Category Name: </label>
  <input type = "text" id = "category_name" name = "category_name">
  <button type = "submit"> Submit </button>
</form>