<h1> Category Form </h1>
<form method = "POST" action = "/<%= category_name %>/update"> 
  <label for = "name"> Enter Category Name: </label>
  <input type = "text" id = "name" name = "name" value = "<%= category_name %>">
  <button type = "submit"> Update </button>
</form>