<h1> Toy Form </h1>
<form method = "POST" action = "/<%= category_name %>"> 
  <label for = "toy_name"> Enter Toy Name: </label>
  <input type = "text" id = "toy_name" name = "toy_name">
  <label for = "toy_price"> Enter Price: </label>
  <input type = "number" id = "toy_price" name = "toy_price">
  <button type = "submit"> Submit </button>
</form>